.container {
  background-size: cover;
  background-color: #f5f9fc;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container .content {

}
