.container {
    position: relative;
    z-index: 1;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-shadow: 1px -2px 7px 5px rgb(190, 188, 188);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
}

.title {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2vw;
}

.sign_in {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
}

.sign_in:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 10%)
}

.sign_in:active {
    background-color: hsl(0, 0%, 50%);
}