.container {
    position: relative;
    z-index: 1;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-bottom: 1px solid var(--border);
    background-color: var(--fground);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px;
}

.title {
    align-self: center;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.logo {
    height: 30px;
}

.signupbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.8vw;

}

.sign_in {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
    background-color: var(--fground);
    border: 1px solid var(--border);
    color: var(--darktext);
    cursor: pointer;
}

.sign_in:hover {
    background-color: var(--bground);
    color: var(--darktext)
}

.sign_in:active {
    background-color: var(--button);
}