.container {
  background-size: cover;
  background-color: hsl(0, 0%, 95%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  font-size: clamp(22pt, 2vw, 28pt);
  padding: 5px 30px 0px 30px;
  text-align: center;
  color: hsl(0, 0%, 20%);
}

.title2 {
  font-weight: 400;
  margin: 0;
  font-size: clamp(13pt, 2vw, 15pt);
  text-align: center;
  color: hsl(0, 0%, 20%);
}

.form {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 18px;
  padding: 12px;
  border: 1px solid hsl(0, 0%, 85%);
  box-shadow: 1px 2px 2px 1px hsl(0, 0%, 85%);
  font-size: 22px;
  width: 450px;
}

.input_title {
  font-weight: 500;
  font-size: 13px;
  margin-left: 2%;
  color:hsl(0, 0%, 50%);
}

.inputbox {
  margin: 10px 0px 10px 0px;
}

.signupinput {
  width: 350px;
  padding: 15px 12px 15px 12px;
  transition: border ease-in-out 300ms;
}

.signupinput:focus {
  border: 1px solid hsl(0, 0%, 50%);
}

.name_checker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 10px 0px;
}

.submit_button {
  margin: 15px 0px 10px 0px;
  padding: 10px 15px 10px 15px;
  font-size: 13pt;
  transition: all ease-in-out 200ms;
}

.submit_button:hover {
  color:hsl(0, 0%, 95%);
  background-color: hsl(207, 100%, 60%);
}

.submit_button:active {
  background-color: hsl(207, 100%, 40%);
  font-size: 12pt;
  transition: all 100ms;
}

.submit_button:disabled:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 50%);
}
