.list_container {
  background-size: cover;
  background-color: #f5f9fc;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.list_elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: clamp(400px, 40vw, 900px);
  height: 100%;
  border: 1px solid hsl(0, 0%, 90%);
  padding-left: 3vw;
  padding-top: 3vh;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsl(0, 0%, 40%);
  font-size: 16pt;
  margin-bottom: 5px;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 40%);
}

.new_note {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16pt;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
  transition: all ease-in-out 200ms;
  margin-top: 2px;
}

.new_note:hover {
  color: hsl(0, 0%, 40%);
}

.new_note_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16pt;
  color: hsl(0, 0%, 40%);
  cursor: pointer;
  margin-top: 2px;
}

.note_input {
  background-color: #f5f9fc;
  color: hsl(0, 0%, 20%);
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  width: clamp(300px, 30vw, 675px); 
}